{% extends 'blog/base_en.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>


<body>
    {% block content %}
    <br />
    <h1 class="text-center">
        Project “’KVAPKA’ - Water Cycle and Community Arboretum

        Preparation”
        <br />
        
    </h1>
    <br />
    <h4 class="text-white text-center">
        <b>EEA Grants</b> for EEA Financial Mechanism (hereinafter referred to as

        <b>‘EEA Grants’</b>)

        <b>Norway Grants</b> for Norwegian Financial Mechanism (hereinafter referred to as
        <b>
            ‘Norway

            Grants’
        </b>)

        <b>State Budget of the Slovak Republic</b>


    </h4>
    <br />
    <div class="text-center text-white text-md">
        <u><b>Identifying data:</b></u>

    </div>

    <div class="text-white">
        Project title:  “’KVAPKA’ – Water Cycle and Community Arboretum Preparation“<br />

        Project number:  ACC03050 <br />

        Programme Operator: Government Office of the SR <br />

        Programme: “Adaptation to Climate Change – Floods and Drought Prevention”<br />

        Relevant programme outcome: Increased awareness of and education in climate change adaptation<br />

        <br />
        <u>Program slogan:</u><br />
        <b>SK02 Programme</b> – Adaptation to Climate Change – Floods and Drought Prevention – official slogan: „Think globally, act locally“<br />

        <u>General slogan:</u>
        „The EEA Grants and Norway Grants – Grants can be simple“<br />

        <u>Slogan emphasizing the bilateral dimension of cooperation with the Donor States:</u>
        „The EEA Grants and Norway Grants – Cooperation with common values“<br />
        <br />
        <u>Project implementation start date: </u> June 2014<br />

        <u>Project implementation end date: </u> February  2015<br />
        Measure: Blue Schools<br />

        <u>Beneficiary: </u> Primary school in Budkovce<br />

        <u>Project funding:   </u>The project grant is in the amount of 37 607 EUR.<br />

        <u>Target groups: </u> children, pupils/students, non-governmental organizations<br />

        <br />
        <h5>Main activities of the project: </h5>

        <p>
            <b>A.</b>	The main output of the project KVAPKA  Water Cycle and Community Arboretum preparation“ is creation and implementation of own environmental education program KVAPKA, which will extend the existing curricula by two thematic areas:
        <p>- Adaptation to climate change</p>
        <p>-Rain water management</p>
        According to elaborated environmental education program, at least 32 hours per year will be taught in selected subjects.
        </p>

        <p>
            Podľa vypracovaného environmentálneho programu sa
            bude vyučovať najmenej 32 hodín ročne vo vybraných
            predmetoch.
        </p>
        <b>B.</b> Implementation of 4 adaptation measures:<br />

        <u>A1 – Rain Garden</u><br />
        <p>Rain gardens are little known in our region, nevertheless, they are attractive and useful planted depressions. Rain garden will be used in water abstraction from the roof of school building and will serve as a unique exterior teaching tool for pupils and as a tool to spread awareness in the general public. </p>

        <u>A2 – Greenhouse</u><br />
        <p>The greenhouse will be used for practical training of selected subjects. The main aim is for the pupils to grow suitable trees and shrubs from seeds and cuttings, to year-round care for the plants in conjunction with the study of their growing process. Pupils will provide the propagated plants free of charge to the public and will increase environmental awareness of the general public. </p>
        <p>Greenhouse operation will use the management of rainwater from the roof of school building by abstraction and collection of rainwater in detention reservoir and its subsequent use through integrated irrigation system of the greenhouse. </p>

        <u>A3 – Small Arboretum</u><br />
        <p>Small arboretum or school botanical garden is designated for educational purposes. Selection of trees and shrubs will depend on unique features of the tree crown, leaves, flowers and growth, less common stature or bark of the trees and shrubs in respect of conditions in our geographic area. For pupils, parents, mothers with children we will create a relaxation area with educational aspect – every tree and shrub will have a description and characterization and assigned class patronage. Pupils will be able to observe vegetation process of the trees and shrubs grown in the arboretum. As a part of raising awareness of environment, this arboretum should serve as an incentive for the local community to grow these trees and shrubs in their own gardens. </p>


        <u>A4 – Exterior Environmental Classroom</u>
        <p>By creating the exterior environmental classroom, pupils will have the opportunity to learn the subjects within the environmental education program KVAPKA and other natural sciences subjects in natural environment. The exterior environmental classroom will include a gazebo, information panels on hydrological cycle, a rain gauge, an interconnection with the rain garden for the purpose of observing the rainwater management, vegetation and birds occurring in the school complex. </p>


        <br />
        <br />
        Website of Program Administrator:<br />

        
        <a href="http://www.eeagrants.sk/prisposobenie-sa-zmene-klimy">www.eeagrants.sk/prisposobenie-sa-zmene-klimy</a>


    </div>


    {% endblock %}
</body>
</html>