{% extends 'blog/base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>


<body>
    {% block content %}
    <br />
    <h1 class="text-center">
        PROJEKT

        KVAPKA
        <br />
        Kolobeh vody

        a príprava komunitného arboréta
    </h1>
    <br />
    <h4 class="text-white text-center">
        <b>Granty EHP</b> pre finančný mechanizmus EHP

        ďalej <b>„Granty EHP“</b>

        <b>Nórske granty</b> pre Nórsky finančný mechanizmus

        ďalej <b>„Nórske Granty“</b>

        <b>Štátny rozpočet Slovenskej republiky</b>


    </h4>
    <br />
    <div class="text-center text-white text-md">
        <u><b>Identifikačné údaje:</b></u>

    </div>

    <div class="text-white">
        Číslo projektu: ACC03050 <br />

        Správca programu: Úrad vlády Slovenskej republiky <br />

        Názov programovej oblasti:
        Prispôsobenie sa zmene klímy – prevencia pred povodňami a suchom <br />

        Cieľ projektu:
        Zvýšenie povedomia a vzdelania v oblasti prispôsobenia sa zmene klímy <br />
        <br />
        <u>Programový slogan:</u><br />
        Program SK02 - Prispôsobenie sa zmene klímy – oficiálny slogan: „Mysli globálne,
        konaj lokálne“ – „Think globally, act locally“<br />

        <u>Všeobecný slogan:</u>
        „Granty EHP a Nórska – Aj fondy môžu byť jednoduché“ – „Grants can be simple“<br />

        <u>Slogan zdôrazňujúci bilaterálnu dimenziu spolupráce s donorskými štátmi:</u>
        „Granty EHP a Nórska – Spoluprácou k spoločným hodnotám“ – „Cooperation with
        common values“<br />
        <br />
        <u>Začiatok realizácie projektu:</u> jún 2014<br />

        <u>Termín ukončenia projektu:</u> február 2015<br />

        <u>Prijímateľ:</u> Základná škola Budkovce 355<br />

        <u>Financovanie projektu</u> Projektový grant je vo výške 37 607 eur.<br />

        <u>Cieľové skupiny:</u> deti, študenti, mimovládne organizácie<br />

        <br />
        <h5>Hlavné aktivity projektu:</h5>

        <p>
            <b>1.</b> tvorba vlastného environmentálneho programu Kvapka,
            ktorým sa rozšíria existujúce učebné osnovy o tematické
            celky - Prispôsobenie sa zmenám klímy; Manažment
            dažďových vôd.
        </p>
        <p>
            Podľa vypracovaného environmentálneho programu sa
            bude vyučovať najmenej 32 hodín ročne vo vybraných
            predmetoch.
        </p>
        <b>2.</b> Realizácia štyroch adaptačných opatrení:<br />

        <u>A1 – Dažďová záhrada</u><br />

        <u>A2 - Skleník</u><br />

        <u>A3 – Miniarborétum</u><br />

        <u>A4 – Exteriérová environmentálna učebňa</u>
        <br /><br />
        Odkazy na webovú stránku projektu a webovú stránku správcu programu:<br />

        <a href="http://www.zsbudkovce.edupage.org">www.zsbudkovce.edupage.org</a><br />
        <a href="http://www.eeagrants.sk/prisposobenie-sa-zmene-klimy">www.eeagrants.sk/prisposobenie-sa-zmene-klimy</a>


    </div>


    {% endblock %}
</body>
</html>