h1 a, h2 a {
    color: #f9cc0a;
    font-family: 'Roboto', sans-serif;
}

h1 , h2  {
    color: #f9cc0a;
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    color: #f9cc0a;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body {
   
    position: center;
    background-color: #101010;
    font-family: 'Roboto', sans-serif;
}

.page-header {
    background-color: #202020;
    margin-top: 0;
    padding: 50px 50px 50px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f9cc0a;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    position: center;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 20px 20px 40px;
}

.container {
    background-color: #202020;
    font-family: 'Roboto', sans-serif;
    position: center;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    padding-bottom: 70px;
    padding-top: 70px;
    margin-bottom: 70px;
    height: 200px;
    color: #ffffff;
}

.post h2 a, .post h2 a:visited {
    color: #f9cc0a;
}

.bg-dark {
    background-color: #303030;
}

.bg-grey {
    background-color: #202020;
}

.text-white {
    color: #FFFFFF;
}

.bottom {
    background-color: #202020;
    padding-bottom: 70px;
}


